.container {
  padding: 50px 0px;
  background-color: #f0efeb80;
  color: black;
  text-align: left;
}

.container h1 {
  font-size: 50px;
  width: 70%;
  margin: auto;
}

.container .topics {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 18px;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
}

.container .topics p {
  background: white;
  margin: 10px 0px;
  margin-right: 20px;
  padding: 4px 8px;
  border-radius: 10px;
  border: 2px solid #4a3aff;
  color: #4a3aff;
  cursor: pointer;
}

.articleContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.container hr {
  width: 70%;
  margin: 20px auto;
  background-color: #6d758f;
}

.article {
  box-shadow: 0px 0px 2px grey;
  width: 100%;
  max-width: 380px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.article img {
  height: 280px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.article h6 {
  font-size: 20px;
  text-align: start;
  width: 95%;
  padding: 10px 0px;
  padding-left: 20px;
  font-weight: 500;
}

.article p {
  text-align: start;
  padding-left: 20px;
  color: #6d758f;
  width: 95%;
}

.article div {
  display: flex;
  padding: 10px;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  align-self: flex-end;
  color: #f24b04;
}

.article div span {
  padding: 2px 7px;
  color: black;
  border-radius: 5px;
}

.more {
  width: 100%;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  color: #f24b04;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .container h1 {
    font-size: 36px;
  }

  .container .topics {
    font-size: 16px;
  }

  .articleContainer {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container h1 {
    font-size: 30px;
  }

  .container .topics {
    font-size: 14px;
  }

  .article img {
    height: 200px;
  }

  .article h6 {
    font-size: 18px;
  }

  .article p {
    font-size: 14px;
  }

  .more {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 20px 0px;
  }

  .container h1 {
    font-size: 24px;
    width: 90%;
  }

  .container .topics {
    width: 90%;
    font-size: 12px;
  }

  .articleContainer {
    flex-direction: column;
    width: 90%;
  }

  .article {
    width: 100%;
  }

  .article img {
    height: 150px;
  }

  .article h6 {
    font-size: 16px;
  }

  .article p {
    font-size: 12px;
  }

  .more {
    font-size: 16px;
  }
}
