.container {
  background-color: #f0efeb80;
  padding: 100px 0px;
  color: black;
}

.content {
  width: 70%;
  margin: auto;
}
.container h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}
.content {
  display: flex;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .content {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .content {
    width: 90%;
    margin: auto;
    font-size: 15px;
  }
  .container h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
  }
}
