.container {
  padding: 40px 20px;
  text-align: center;
}

.commentBox {
  background: #2d2d2d;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  border: 2px solid grey;
  margin: 10px auto;
  max-width: 600px;
  box-sizing: border-box;
}

.stars {
  color: #1100ff;
  font-size: 20px;
  margin-bottom: 10px;
}

.author {
  margin-top: 10px;
  font-weight: bold;
}

.author p {
  font-weight: 400;
}

/* Desktop: 3-column grid */
.desktopGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Hide carousel by default */
.mobileCarousel {
  display: none;
}

/* Mobile view */
@media (max-width: 768px) {
  .desktopGrid {
    display: none;
  }

  .mobileCarousel {
    display: block;
  }

  .commentBox {
    margin: 10px auto;
    width: 90%;
    padding: 16px;
    font-size: 14px;
    width: 300px;
  }

  .stars {
    font-size: 18px;
  }

  .author h3 {
    font-size: 16px;
  }

  .author p {
    font-size: 14px;
  }
}
