.container {
  background-color: #f0efeb80;
  padding: 100px 0px;
  color: black;
}

.content {
  width: 75%;
  margin: auto;
}
.container h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 600;
}
.content {
  display: flex;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .content {
    width: 100%;
    margin: auto;
  }
  .container h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 600;
  }
  .container h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
}
