.strategyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 80px 0px;
  color: black;
  margin: 0px 20px;
  margin-top: 100px;
}
.strategyContainer img {
  padding: 35px;
  background-color: #4a3aff;
  height: 120px;
  width: 120px;
  border-radius: 10px;
}
.strategyContainer p {
  width: 100%;
}
