.container {
  background: #f0efeb80;
  color: black;
  padding-top: 100px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  text-align: center;
}
.content .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .left p {
  padding: 30px 0px;
  width: 70%;
  text-align: center;
}
.content .left h1 {
  font-size: 40px;
}
.content .left h2 {
  font-size: 30px;
  font-weight: 500;
}
.content .right {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  align-items: center;
  place-items: center;
  justify-content: center;
  width: 70%;
  margin: auto;
  text-align: left;
  padding-bottom: 100px;
}
.content .right div img {
  background-color: #4a3aff;
  padding: 5px;
  border-radius: 5px;
}
.content .right div {
  display: flex;
  padding: 30px 30px;
  gap: 50px;
  align-items: center;
  border: 1px solid grey;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
}
.content .right div p {
  width: 100%;
}
.content .left button {
  background-color: #4a3aff;
  border: 2px solid #4a3aff;
  color: white;
}
.content .left button:hover {
  background-color: white;
  color: #4a3aff;
}
@media screen and (max-width: 800px) {
  .container {
    background: #f0efeb80;
    color: black;
    padding-top: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    text-align: center;
  }
  .content .right {
    display: grid;
    grid-template-columns: repeat(1, 360px);
  }
}
