.container {
  background: #f0efeb80;
}
.content {
  display: flex;
  width: 70%;
  margin: auto;
  color: black;
  padding: 100px 0px;
  justify-content: space-between;
  gap: 80px;
}
.imgContainer {
  position: relative;
  display: flex;
}
.imgContainer img {
  position: relative;
  z-index: 2;
  height: 490px;
  width: 400px;
}
.imgBG {
  top: 90px;
  height: 400px;
  width: 400px;
  background: #eef0e6;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}

.content1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content1 h1 {
  font-size: 40px;
}
.content1 h3 {
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 1300px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
    color: black;
    padding: 100px 0px;
    justify-content: space-between;
    gap: 80px;
  }
  .imgContainer {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .imgContainer img {
    position: relative;
    z-index: 2;
    height: 350px;
    width: 300px;
  }
  .imgBG {
    top: 90px;
    height: 300px;
    width: 300px;
    background: #eef0e6;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
  }
  .content1 h1 {
    font-size: 30px;
  }
  .content1 h3 {
    font-size: 24px;
    font-weight: 600;
  }
}
