.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.2em;
  font-family: var(--prata-font);
  font-weight: bold;
  color: #333;
}

.logoMobile {
  display: none;
}

.navLinks {
  padding-right: 60px;
  display: flex;
  gap: 40px;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-size: 1em;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #4a3aff;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contact {
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #4a3aff;
  border: 1px solid #06041a;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(91, 90, 90, 0.559);
}

.icons svg {
  width: 30px;
  height: 30px;
  fill: black;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: fill 0.3s ease;
  padding: 4px;
}

.icons svg:hover {
  fill: #4a3aff;
}

.menuToggle {
  display: none;
}

.menuToggle div {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.subsidiaries {
  position: relative;
}

.dropdownToggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.dropdownToggle:hover {
  color: #4a3aff;
}

.arrow {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 0;
  min-width: 150px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownMenu a {
  display: block;
  padding: 8px 15px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdownMenu a:hover {
  background-color: #f0f0f0;
  color: #4a3aff;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
  .logoMobile {
    display: block;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .usericon {
    display: none;
  }
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 4px;
  }

  .navLinks.active {
    display: flex;
  }

  .menuToggle {
    display: block;
    cursor: pointer;
  }

  .subsidiaries {
    width: 100%;
    margin-top: 10px;
  }

  .dropdownMenu {
    position: static;
    box-shadow: none;
    padding-left: 15px;
  }
}
