.container {
  background-color: #191919;
  padding-bottom: 100px;
}
.content {
  width: 80%;
  padding: 100px 20px;
  margin: auto;
}
.content h1 {
  font-size: 40px;
  font-weight: 500;
}

.content .text1 {
  width: 60%;
  padding: 30px 0px;
}
.commentSection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
  place-items: center;
}
.video {
  height: 300px;
  width: 300px;
  border-radius: 10px;
}
.arrow {
  color: white;
  font-size: 25px;
  height: fit-content;
  width: fit-content;
  border: 1px solid white;
  padding: 10px 15px;
  margin: auto;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  .content h1 {
    font-size: 32px;
    font-weight: 500;
  }
  .content .text1 {
    width: 95%;
    padding: 30px 0px;
  }
  .content {
    width: 90%;
    padding: 100px 20px;
    margin: auto;
  }
}
