.container {
  background-image: radial-gradient(
    farthest-corner at 100% -10px,
    #284c9c 0%,
    #191919 45%
  );
}
.content {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 80px 0px;
  gap: 100px;
}
.left,
.right {
  width: 50%;
}
.left .top h3 {
  font-size: 1.2em;
  font-family: var(--prata-font);
  font-weight: bold;
  color: #fff;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left .top p {
  width: 80%;
}
.left .top p:last-child {
  padding-top: 20px;
  font-weight: 400;
}
.left .bottom {
  margin-top: 20px;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.socials {
  display: flex;
}
.socials p img {
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  padding: 6px;
}
.socials p img {
  margin-right: 10px;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--prata-font);
}
.right .top {
  display: flex;
}
.right .top p {
  padding: 10px 60px 10px 0px;
}
.right .bottom .set:first-child {
  margin-top: 20px;
}
.right .bottom .set h3 {
  margin: 10px 0px;
}
.right .bottom .set p {
  font-size: 14px;
  color: rgb(169, 168, 168);
}
.bottomflex {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.bottomflex .languages span {
  padding-right: 20px;
  color: grey;
}
.bottomflex .languages p {
  margin-bottom: 10px;
}
.bottomflex .languages span:first-of-type {
  color: white !important;
}
.socialMobile {
  display: none;
}
.subsidiaries {
  margin-top: 20px;
}

.subsidiaries h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.subsidiaries div {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 5px;
  flex-wrap: wrap;
}
.subsidiaries p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.subsidiaries p a {
  color: white;
  text-decoration: none;
}

.subsidiaries p a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1000px) {
  .container {
    background-image: radial-gradient(
      farthest-corner at 100% -10px,
      #284c9c 0%,
      #191919 65%
    );
  }
  .content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 80px 0px;
    gap: 100px;
  }
  .left,
  .right {
    width: 100%;
  }
  .left .socials {
    display: none;
  }
  .right .top {
    display: grid;
    grid-template-columns: repeat(2, 200px);
  }
  .bottomflex {
    display: flex;

    flex-direction: column;
    align-items: start;
  }
  .bottomflex .languages {
    font-size: 20px;
    padding-top: 20px;
  }
  /* .bottomflex .languages span:first-of-type {
    color: white !important;
    font-size: 22px;
  } */
  .socialMobile {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
  }
}
