.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: white;
  color: black;
}
@media screen and (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    background-color: white;
    color: black;
  }
}
