.container {
  background: black;
  color: white;
  padding-top: 50px;
  text-align: center;
}
.container p {
  width: 400px;
  margin: auto;
}
.carousel {
  width: 65%;
  margin: auto;
}
.carouselElement {
  border: 1spx solid #3c3c3c;
  margin: 50px 20px;
  padding: 50px 20px;
  background: #303030;
  border-radius: 10px;
}
.carouselElement .title {
  margin: 10px auto;
  width: 80%;
  color: #a49cff;
}
.carouselElement .desc {
  margin: 10px auto;
  width: 100%;
}

.carousel {
  position: relative;
  z-index: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent;
  border: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #4a3aff;
  font-size: 30px;
}

.leftArrow {
  left: -10px; /* Adjust this value to position the left arrow */
}

.rightArrow {
  right: -0px; /* Adjust this value to position the right arrow */
}
.arrow:hover {
  box-shadow: none;
}
@media screen and (max-width: 800px) {
  .container p {
    padding-top: 20px;
    width: 80%;
    margin: auto;
  }
  .container h1 {
    font-size: 28px;
  }
  .carousel {
    width: 85%;
    margin: auto;
  }
}
