.container {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
  color: black;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.formContainer {
  flex: 1;
  max-width: 450px;
  background: #fff;
  border: 2px solid #4a3aff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formHeading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.inputGroup input,
.inputGroup select,
.inputGroup textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: black;
}

.inputGroup input:focus,
.inputGroup select:focus,
.inputGroup textarea:focus {
  border-color: #4a3aff;
}

.submitButton {
  background-color: #4a3aff;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 70%;
  height: 45px;
  margin: 20px auto;
}

.submitButton:hover {
  background-color: #7064fdef;
}

.infoContainer {
  flex: 1;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imgContainer {
  position: relative;
  display: flex;
}
.imgContainer img {
  position: relative;
  height: 300px;
  z-index: 2;
  bottom: 0px;
}
.imgBG {
  bottom: 0px;
  /* height: 300px; */
  width: 100%;
  background: #eef0e6;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
}

.addressContainer {
  background: #eef0e6;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.addressHeading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .imgContainer img {
    position: relative;
    z-index: 2;
    bottom: 0px;
    height: 350px;
    width: 100%;
  }
  .imgBG {
    bottom: 0px;
    height: 300px;
    width: 95%;
    background: #eef0e6;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
  }
}
