.container {
  padding: 80px 0px;
  text-align: center;
  background-image: radial-gradient(
    farthest-corner at 60vh 10px,
    #284c9c 0%,
    #191919 85%
  );
}
.content1 {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.content1 div h1 {
  font-size: 48px;
  /* font-weight: 500; */
}
.content2 {
  width: 70%;
  margin: auto;

  padding-top: 30px;
}
.content2 p {
}
