/* Container Styling */
.job-listing {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0 auto;
}

.header {
  background: #2c2a83;
  color: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  position: relative;
}

.header h1 {
  margin: 10px auto;
  width: 90%;
  font-size: 38px;
  font-weight: 500;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 90%;
  position: relative;
  left: -40px;
}

.search-bar input,
.search-bar select,
.search-bar button {
  font-size: 24px;
  color: rgb(197, 197, 197);
  border: none;
}
.search-bar input:first-of-type {
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
}
.search-bar input {
  padding-left: 50px;
  padding-right: 10px;
  border-right: 1px solid rgb(88, 88, 88);
}
.search-bar input::placeholder {
  color: rgb(197, 197, 197);
}
.search-bar select {
  padding: 0px 20px;
}
.search-bar img {
  position: relative;
  height: 25px;
}
.search-bar img:first-of-type {
  left: 60px;
  top: 10px;
}
.search-bar img:last-of-type {
  left: 400px;
  top: 8px;
}
.search-bar button {
  background-color: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-radius: 40px;
  position: relative;
  right: 20px;
  font-size: 20px;
}

/* Job Info */
.job-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
  margin-top: 80px;
}

.job-info p {
  margin: 0;
}

.job-info select {
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: black;
}

/* Job Cards */
.job-cards {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
}

.job-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background: #e9e9e9;
  text-align: center;
}
.job-content {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  text-align: left;
}
.job-card h2 {
  font-size: 18px;
  width: 70%;
  margin: 0 0 10px;
  text-wrap: nowrap;
}

.job-card .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #999;
  font-size: 14px;
}

.job-card .location {
  font-size: 18px;
  margin: 10px 0;
  display: flex;
  padding: 5px 0px;
  align-items: center;
  position: relative;
  gap: 2px;
}
.job-card .location img {
  position: relative;
  bottom: 4px;
}

.job-card .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.job-card .tags span {
  background: #f0f0f0;
  padding: 10px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.job-card .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.job-card .salary {
  font-weight: bold;
  color: #333;
  font-size: 18px;
}

.job-card button {
  background: #4f46e5;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* View All Button */
.view-all {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
}
.view-all:hover {
  background: white;
  color: #4f46e5;
  border: 2px solid #4f46e5;
}
/* Responsive Design */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 10px;
    position: unset;
  }

  .header h1 {
    margin: 20px auto;
    width: 90%;
    font-size: 26px;

    font-weight: 500;
  }
  .search-bar img:first-of-type {
    display: none;
  }
  .search-bar img:last-of-type {
    display: none;
  }
  .job-info {
    flex-direction: column;
    gap: 10px;
  }

  .job-cards {
    grid-template-columns: 1fr;
  }

  .search-bar input,
  .search-bar select,
  .search-bar button {
    font-size: 20px;
    color: rgb(197, 197, 197);
    border: none;
  }
  .search-bar input:first-of-type {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
  .search-bar input {
    padding: 10px;
    border-right: 1px solid rgb(88, 88, 88);
  }
  .search-bar select {
    padding: 10px;
  }
  .search-bar button {
    position: unset;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 200px;
  }
}
