.container {
  height: fit-content;
  width: 100%;
  background-size: contain;
  display: flex;
  flex-direction: column;
  background: #0c111d;
}

.title {
  height: 55%;
}
.title p {
  /* border: 1px solid rgb(228, 222, 222); */
  border-radius: 10px;
  text-align: left;
  padding: 10px 30px;
  width: fit-content;
  margin-left: 220px;
  margin-top: 100px;
  color: black;
  font-size: 30px;
  font-weight: 600 !important;
}
.content {
  margin: 0px auto;
  height: 45%;
  width: 85%;
  margin-top: 100px;
}
.content div h1 {
  font-size: 72px;
  font-weight: 600;
  width: 100%;
  line-height: 80px;
}
.img {
  width: 90%;
  margin: 30px auto;
  border-radius: 10px;
}
.content div {
  margin: auto;
}
.content div div {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.content div div p {
  width: 65%;
}
.content div div button {
  margin-right: 20px;
  padding: 10px;
  min-width: 250px;
  max-height: 50px !important;
}
@media screen and (max-width: 1000px) {
  .content div div {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
  }
  .content div div p {
    width: 95%;
    text-align: center;
  }
  .content div h1 {
    font-size: 32px;
    font-weight: 600;
    width: 100%;
    line-height: 40px;
    text-align: center;
  }
  .content div div button {
    padding: 10px;
    width: 60px;
    margin: 50px auto;

    max-height: 50px !important;
  }
  .img {
    width: 90%;
    margin: 30px auto;
    border-radius: 10px;
    height: 160px;
    margin-bottom: 60px;
  }
}
